#muhammad awais zahid
#sp25-bbd-058

In [2]:
#Question no 1. Print all even numbers from 2 to 20
for num in range(2, 21, 2):
    print(num)

2
4
6
8
10
12
14
16
18
20

In [3]:
#Question no 2. Print each name in uppercase
names = ["Alice", "Bob", "Charlie", "David"]
for name in names:
    print(name.upper())

ALICE
BOB
CHARLIE
DAVID

In [4]:
#QUESTION 3. Print numbers from 10 to 1 in reverse order
for num in range(10, 0, -1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [5]:
#QUESTION 4. Print numbers that are divisible by 3
numbers = [3, 7, 9, 12, 15, 18, 20, 25]
for num in numbers:
    if num % 3 == 0:
        print(num)

3
9
12
15
18

In [6]:
#QUESTION 5. Print squares of numbers from 1 to 10
for num in range(1, 11):
    print(num ** 2)

1
4
9
16
25
36
49
64
81
100

In [7]:
#QUESTION 7. Print multiplication table of 5
for num in range(1, 11):
    print(f"5 x {num} = {5 * num}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [8]:
# 8. Find the sum of all numbers in a list
num_list = [1, 2, 3, 4, 5]
total = 0
for num in num_list:
    total += num
print("Sum:", total)

Sum: 15

In [9]:
#QUESTION 9. Iterate through a string and print each character separately
word = "Python"
for char in word:
    print(char)

P
y
t
h
o
n

In [10]:
#QUESTION 10. Print words with more than 5 letters
words = ["apple", "banana", "cherry", "date", "elephant"]
for word in words:
    if len(word) > 5:
        print(word)

banana
cherry
elephant